<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="farszownicy.caldirola">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="farszownicy.caldirola.crud_activities.AddEventActivity"
            android:label="@string/title_activity_add_event"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="farszownicy.caldirola.crud_activities.AddTaskActivity"
            android:label="@string/title_activity_add_task"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.CalendarActivity"
            android:label="@string/title_activity_calendar"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="farszownicy.caldirola.crud_activities.EditEventActivity"
            android:label="@string/title_activity_edit_event"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name="farszownicy.caldirola.crud_activities.EditTaskActivity"
            android:label="@string/title_activity_edit_task"
            android:theme="@style/AppTheme.NoActionBar"/>

    <activity
            android:name=".activities.AgendaActivity"
            android:label="@string/title_activity_agenda"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>